div {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 20px solid rgb(244, 229, 229);
  border-top:20px solid rgb(106, 131, 230) ;
  animation: Curcle 2s ease-in-out 0ms infinite normal;
}
@keyframes Curcle{
  from{
    transform: rotate(0deg);
  }  
  to{
    transform: rotate(360deg);
  }
}
/* div:hover{
    background-color: rgb(242, 18, 18);
    font-size: 50px;
    transform: rotate(360deg);
    transform: scale(0.5);
}
div:active{
    background-color: dodgerblue;
} */
/* @media (max-width: 300px) {
  div {
    background-color: red;
  }
}

@media (min-width: 300px) and (max-width : 400px) {
  div {
    background-color: rgb(17, 54, 165);
  }
}

@media (min-width: 400px)and (max-width : 600px ) {
  div {
    background-color: rgb(199, 30, 199);
  }
}

@media (min-width: 600px) {
  div {
    background-color: rgb(11, 17, 18);
  }
} */


