* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* =========================
   Navbar
========================= */

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background:#0e1b1e;
    backdrop-filter: blur(8px);
    padding: 10px 10px;
}

.navbar-brand img{
    width:120px;
}

.navbar-nav{
    align-items:center;
}

.nav-link{
    color:#fff !important;
    font-size:16px;
    font-weight:500;
    margin:0 8px;
    transition:.3s;
}

.nav-link:hover,
.nav-link.active{
    color:#00c853 !important;
}

/* Search Box */

.search-box{
    width:300px;
    margin:0 20px;
}

.navbar-nav{
    align-items:center;
}

@media (max-width:992px){
    .search-box{
        width:100%;
        margin:15px 0;
    }
}

.search-box input{
    background:#1c1c1c;
    color:#fff;
    border:none;
    border-radius:30px;
}

.search-box input::placeholder{
    color:#bbb;
}

.search-box button{
    border-radius:30px;
    white-space:nowrap;
}

/* Dropdown */

.dropdown-menu{
    background:#081b33;
    border:none;
    border-radius:10px;
    box-shadow:0 8px 20px rgba(0,0,0,.2);
}

.dropdown-item{
    color:#fff;
    padding:10px 18px;
    transition:.3s;
}

.dropdown-item:hover{
    background:#00c853;
    color:#fff;
}

.dropdown-item i{
    margin-right:8px;
}

/* Contact Button */

.btn-success{
    border-radius:30px;
    padding:10px 20px;
    font-weight:600;
    transition:.3s;
}

.btn-success:hover{
    transform:translateY(-3px);
}

/* Body Space */

body{
    padding-top:90px;
}

/* Mobile */

@media(max-width:992px){

.search-box{
    display:none;
}

.navbar-nav{
    margin-top:15px;
    text-align:center;
}

.nav-item{
    margin:8px 0;
}

.btn-success{
    width:100%;
}

}

/* Hero Section */
.hero {
  height: 100vh;
  background:
    linear-gradient(rgba(0,0,0,.45), rgba(0,0,0,.45)),
    url("img_Crypto5.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 60px;
}

.dropdown-menu {
  background-color: #222;
  border: none;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: #0d6efd;
  color: white;
}

/* Hero Text */


.hero-content {
  color: rgb(239, 162, 48);
  max-width: 600px;
  text-align: left;
  font-weight: 700;
}
.hero-content h5 {
  color: rgb(219, 46, 11);
  font-weight: 600;
}
.hero-content p {
  color: rgb(202, 198, 197);
  font-weight: 400;
}

.hero-content button {
  margin: 20px;
  padding: 10px;
  color: azure; 
  font-weight: 600;
}
.hero-content button:hover {
  color: black;
}

/* Service Boxs */

.service-link{
    text-decoration: none;
    color: inherit;
    display: block;
}

.service-link:hover{
    color: inherit;
}


.service-box {
  background: #fff;
  padding: 35px;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  gap: 25px;
  align-items: flex-start;
  transition: 0.4s;
  
}

.service-box:hover {
  transform: translateY(-8px);
  box-shadow: 0 5px 20px rgba(15, 6, 6, 0.8);
}

.icon i {
  font-size: 55px;
  color: #2ecc71;
  transition: 0.4s;
}

/* Icon Down Effect */
.service-box:hover .icon i {
  transform: translateY(10px);
}

.content h3 {
  font-weight: 700;
  margin-bottom: 15px;
   text-decoration: none;
}

.content p {
  color: #666;
  line-height: 1.8;
   text-decoration: none;
}

/* About */

.about {
  padding: 80px 0;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
}

.tab-btn {
  padding: 15px 35px;
  border: none;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 18px;
  border-radius: 8px;
  transition: 0.3s;
}

.tab-btn.active {
  background: #28a745;
  color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 18px;
  border-bottom: 1px solid #ddd;
}

table th {
  background: #28a745;
  color: white;
}

.animate {
  animation: slideIn 0.5s ease;
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(0.95);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.about {
  padding: 100px 0;
  background: #fff;
}

.about-content {
  padding-left: 40px;
}

.about-content h2 {
  font-size: 34px;
  font-weight: 700;
  color: #1b2b48;
  margin-bottom: 25px;
  line-height: 1.4;
}

.about-content p {
  color: #666;
  font-size: 16px;
  line-height: 1.9;
  margin-bottom: 20px;
}

.explore-btn {
  padding: 12px 30px;
  border-radius: 8px;
  font-weight: 600;
}

/* Login crypto Section */

.contact-section {
  background: url("images/contact-bg.jpg");

  background-size: cover;

  background-position: center;

  padding: 100px 0;

  position: relative;
}

.contact-section::before {
  content: "";

  position: absolute;

  left: 0;

  top: 0;

  width: 100%;

  height: 100%;

  background: rgba(8, 20, 45, 0.82);
}

.contact-section .container {
  position: relative;

  z-index: 2;
}

.contact-img {
  width: 100%;
}

.sub-title {
  color: #ff6b1a;

  font-size: 18px;

  font-weight: 700;
  margin-left: 0px;
}

.contact-section h2 {
  color: #fff;

  font-size: 48px;

  font-weight: 700;

  margin: 20px 0 40px;
}

.contact-section label {
  color: #fff;

  margin-bottom: 8px;
}

.form-control,
.form-select {
  height: 55px;

  background: rgba(255, 255, 255, 0.15);

  border: none;

  color: #fff;
}

.form-control::placeholder {
  color: #ddd;
}

.form-control:focus,
.form-select:focus {
  box-shadow: none;

  background: rgba(255, 255, 255, 0.2);

  color: #0a0101;
}



.btn-warning {
  background: #ff6b1a;

  border: none;

  padding: 14px 35px;

  font-weight: 600;

  color: #ffffff;
}

.btn-warning:hover {
  background: #ff4d00;
}

/* footer */


.footer{
    background:#081b33;
    color:#fff;
    padding:70px 0 20px;
}

.footer h3,
.footer h4{
    margin-bottom:20px;
    font-weight:700;
}

.footer p{
    color:#ccc;
    line-height:1.8;
}

.footer ul{
    list-style:none;
    padding:0;
}

.footer ul li{
    margin-bottom:12px;
}

.footer ul li a{
    color:#ccc;
    text-decoration:none;
    transition:.3s;
}

.footer ul li a:hover{
    color:#00c853;
    padding-left:5px;
}

.social-icons a{
    display:inline-block;
    width:40px;
    height:40px;
    line-height:40px;
    text-align:center;
    background:#122b4d;
    color:#fff;
    border-radius:50%;
    margin-right:10px;
    transition:.3s;
}

.social-icons a:hover{
    background:#00c853;
    transform:translateY(-5px);
}

.footer hr{
    border-color:#2d4666;
    margin:40px 0 20px;
}

.copyright{
    text-align:center;
}

.copyright p{
    margin:0;
    color:#aaa;
}

.copyright span{
    color:#00c853;
    font-weight:600;
}
.footer ul li a{
    display:inline-block;
    transition:.3s;
}